<li id="fly-<%= fly.id %>">
  <b>Name:</b> <%= fly.name %> -
  <b>Type:</b> <%= fly.fly_type %> -
  <b>Setup:</b> <%= fly.setup %> -
  <b>Size:</b> <%= fly.size %> -
  <b>Self-tied:</b> <%= fly.tied_yourself %>
</li>
