<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
  <div class='stats'>
      <h1>Stats</h1>
      <ul>
        <li>Fish Caught: <%= @user.fish.count %></li>
        <li>Days Fished: <%= @user.fishing_reports.count %></li>
        <li>Followers: 54</li>
      </ul>
    </div>
  <% if current_user = @user %>
    <div class='about-me'>
      <h1>About Me <%= link_to 'Edit', edit_user_path(current_user), class: 'edit-link' %></h1>
      <%= @user.about_me %>
    </div>
  <% end %>
  <div class="col-md-8">
    <% if @user.fishing_reports.any? %>
      <h3>Fishing Reports</h3>
      <ol class="fishing_reports">
        <%= render @fishing_reports %>
      </ol>
    <% end %>
  </div>
</div>