<li id="fish-<%= fish.id %>">
  <b>Species:</b> <%= fish.species %> -
  <b>GPS Location:</b> <%= fish.gps %> -
  <b>Length:</b> <%= fish.length %> Inches -
  <b>Weight:</b> <%= fish.weight %> Pounds -
  <b>Story:</b> <%= fish.story %>
</li>
