<li class='fish' id="fish-<%= fish.id %>">
  <b>Species:</b> <%= fish.species %> -
  <b>Length:</b> <%= fish.length %> Inches -
  <b>Weight:</b> <%= fish.weight %> Pounds
  <img src = '<%= fish.gps %>'/>
</li>
